
                                /* section 1 */
.section1ImageDiv{
    
    overflow: hidden;
    display: flex;
}
.section1Image{
    height: 400px;
    
}
.section1{
    display: flex;
    justify-content: space-between;
}
.section1Content{
    margin-top: 140px;
    margin-left: 7%;
}
.section1Name{
    font-weight:bold;
    position: absolute; 
}
.section1Description{
    position: absolute;
    margin-top: 60px;
}
.section1Nav{
    position: unset;
    top: 0;
    margin-top: 80px;
    
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

 .nav-menu {
    display: flex;
    justify-content: left;
    
}

.nav-item {
    margin-right: 10px;
}

.nav-link{
    font-size: 20px;
    font-weight: 500;
    color: #666666;
}
.nav-link:hover{
    color: #00df9c;  
}
.nav-link:active{
    color: #00df9c;  
}


/* secton 2 */
.section2headDiv{
    padding-top: 15px;
    
}
.section2head::after{
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #00df9c;
    margin: 0px 10px;
}
.section2itemDiv{
    width: 25%;
    background-color: rgb(46, 46, 46);
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    
    display: flex;
    padding: 20px;
    padding-left: 25px;
    
}
.section2content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.section2itemIcon1{
    color: rgb(255, 38, 0);
    margin-right: 10px;
    font-size: 25px;
}
.section2itemIcon2{
    color: rgb(166, 255, 0);
    margin-right: 10px;
    font-size: 25px;
}
.section2itemIcon3{
    color: rgb(0, 119, 255);
    margin-right: 10px;
    font-size: 25px;
}
.section2itemIcon4{
    color: rgb(234, 0, 255);
    margin-right: 10px;
    font-size: 25px;
}
.section2itemIcon5{
    color: rgb(255, 187, 0);
    margin-right: 10px;
    font-size: 25px;
}
.section2itemIcon6{
    color: rgb(0, 255, 157);
    margin-right: 10px;
    font-size: 25px;
}
.section2itemIcon7{
    color: rgb(255, 0, 98);
    margin-right: 10px;
    font-size: 25px;
}
.section2itemIcon8{
    color: rgb(6, 167, 0);
    margin-right: 10px;
    font-size: 25px;
}

.section2itemTitle{
    font-size: 18px;
    margin-top: 5px;
    margin-left: 5px;
}

/* section 3 */
.section3{
    margin-top: 40px;
}
.section4Content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.section4Item{
    position: relative;
    padding-top: 140px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(32, 32, 32);
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.sesction4image{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 30px;
}
.section4imagetitle{
    text-align: center;
}
.section4description{
    text-align: center;
    color: rgb(129, 129, 129);
    font-weight: 600;
    margin-top: 5px;
}
.section4Year{
    text-align: center;
    font-size: 15px;
    margin-top: 3px;
    color: rgb(102, 102, 102);
    margin-bottom: 20px;
}

/* section 5 */
.section5Image{
    width: 100%;
    border-radius: 10px;
}
.section5Item{
    position: relative;
    padding: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(32, 32, 32);
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.setion5Image{
    width: 100%;
    border-radius: 25px;
}
.section5ImageDiv{
    width: 30%;
    
}
.section5Content{
    margin-top: 10px;
    display: flex;
}
.section5About{
    margin-left: 20px;
}
.section5Icons{
    font-size: 25px;
    color: #00df9c;
    margin-right: 10px;
}
.section5aboutText{
    margin-bottom: 15px;
}
.section5SubText{
    color: rgb(117, 117, 117);
    font-size: 13px;
}
/* footer */
footer{
    background-color:rgb(31, 31, 31) ;
    padding-bottom: 25px;
}
.footer{
    margin-top: 20px;
    height: 80px;
    background-color: rgb(31, 31, 31);
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.linkIcon{
    margin: 5px;
    
    
    
}
footer .bi{
    color: rgb(31, 31, 31);
    font-size: 25px;
    background-color: rgb(151, 151, 151);
    padding: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 100px;
    
}
.footerText{
     text-align: end;
     font-size: 13px;
     margin-right: 10px;
     
    
}
.footerTextAtag{
    color: #00df9c
}
/* section6 */
.formDiv{
    
}
.section6Conternt{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.input-group{
    width: 700px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.input-group input{
    
    font-size: 16px;
    padding: 10px;
    color: white;
    background:none;
    border: none;
    border:  solid rgb(128, 128, 128) 1px;
    border-radius: 7px;
    margin-bottom: 20px;
    outline: none;
}
.input-group input:focus {
    border-color: #00df9c;
}

.input-group textarea{
    outline: none;
    font-size: 16px;
    padding: 10px;
    padding-bottom: 28px;
    color: white;
    background:none;
    border: none;
    border:  solid rgb(128, 128, 128) 1px;
    border-radius: 7px;
    resize: vertical;
    
    height: 200px;
}
.input-group textarea:focus{
    border-color: #00df9c;
}

.input-group label{
    font-size: 16px;
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(201, 201, 201);
    transition: 0.5s ease-in-out;
  
}
.input-group input:focus ~label{
    top: -10px;
    font-size: 14px;
    color: #00df9c;  
    background-color: #111111;  
    padding-left: 5px;
    padding-right: 5px;
}

.input-group input:valid ~label{
    top: -10px;
    font-size: 14px;
    color: rgb(201, 201, 201);
    background-color: #111111; 
    padding-left: 5px;
    padding-right: 5px;
}
.input-group textarea:focus ~label{
    top: -10px;
    font-size: 14px;
    color: #00df9c;  
    background-color: #111111;  
    padding-left: 5px;
    padding-right: 5px;
}

.input-group textarea:valid ~label{
    top: -10px;
    font-size: 14px;
    color: rgb(201, 201, 201);
    background-color: #111111; 
    padding-left: 5px;
    padding-right: 5px;
}
.input-group button{

}
.formSubmit{
    font-size: 17px;
    font-weight: 600;
    padding: 9px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
    background-color: rgb(73, 73, 73);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
